 .footer-link {
     position: relative;
 }

 .footer-link::after {
     content: "";
     position: absolute;
     left: 0;
     bottom: -3px;
     width: 0%;
     height: 2px;
     background: #10b981;
     transition: width 0.3s ease;
 }

 .footer-link:hover::after {
     width: 100%;
 }

 /* for custom loaders */
 /* HTML: <div class="loader"></div> */

 .custom-loader {
     width: fit-content;
     font-size: 40px;
     font-family: monospace;
     font-weight: bold;
     color: #0000;
     -webkit-text-stroke: 1px #000;
     background:
         radial-gradient(1.13em at 50% 1.6em, #0d9e86 99%, #ebe6e600 101%) calc(50% - 1.6em) 0/3.2em 100% text,
         radial-gradient(1.13em at 50% -0.8em, #f1eeee00 99%, #0d9e86 101%) 50% .8em/3.2em 100% repeat-x text;
     animation: l9 2s linear infinite;
 }

 .custom-loader:before {
     content: "";
 }

 @keyframes l9 {
     to {
         background-position: calc(50% + 1.6em) 0, calc(50% + 3.2em) .8em
     }
 }